<ion-view>
        <ion-content>
       <form ng-submit="createLogIn()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
              <span class="input-label">Re-type Password</span>
              <input type="password" ng-model="user.rePassword">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">
              Sign-In
            </button>
            <p class="text-center">
              <a href="">Forgot password</a>
            </p>
            <p class="text-center">
              <a href=""ng-click="">Retype password</a>
            </p>
          </div></form>
          <div ng-init="getLogIn()"ng-repeat="user in users track by $index">
          <span class="input-label">Username:{{user.username}}</span>
           <span class="input-label">Password:{{user.password}}</span>
            <span class="input-label">REPassword:{{user.rePassword}}</span></div></div>
        </ion-content>
      </ion-view>