<ion-view>
        <ion-content>
        <div class="spacePadding"></div>
        <div class="module form-module">
        
         <div class="form">
          <h2 class="head">SignUp</h2>
       <form ng-submit="createLogIn()">
      
              <input type="text" ng-model="user.username"  placeholder="Username">
       
              <input type="password" ng-model="user.password"placeholder="Re-Password">
            
              <input type="password" ng-model="user.rePassword" placeholder="Password">
              
              <input type="text"placeholder="API Key" ng-model="user.merchantId">
           
            <button type="submit" class="button button-block button-calm">
              Sign-up
            </button>
          </form></div></div>
       <!--    <div ng-init="getLogIn()"ng-repeat="user in users track by $index">
          <span class="input-label">Username:{{user.username}}</span>
           <span class="input-label">Password:{{user.password}}</span>
            <span class="input-label">REPassword:{{user.rePassword}}</span></div> -->
        </ion-content>
      </ion-view>