<ion-view view-title="Sku Settlement Detail"> <ion-content
	class="padding">
<div class="list">
	<div class="item item-divider item-calm divide_header">Order
		Balance Details</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Merchant Price</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance_details.merchant_price}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Tax</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance_details.tax}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Shipping Revenue</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance_details.shipping_revenue}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Shipping Tax</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance_details.shipping_tax}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Shipping Charge</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance_details.shipping_charge}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Order Balance</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.order_balance}}</span>
	</div>

</div>
<div class="list">
	<div class="item item-divider item-calm divide_header">Return Balance Details</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Merchant Price</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.merchant_price}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Variable Commission</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.variable_commission}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Base Commission</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.base_commission}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Tax</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.tax}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Shipping Revenue</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.shipping_revenue}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Shipping Tax</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.shipping_tax}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Merchant Return Charge</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.merchant_return_charge}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Return Processing Fee</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance_details.return_processing_fee}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Return Balance</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.return_balance}}</span>
	</div>
	
	<div class="item item-body">
		<span class="col-sm-2 col-xs-8 side_label">Settlement Value</span><span
			class="col-sm-10 col-xs-4 s_label">${{skuSettlementDetailProducts.data.settlement_value}}</span>
	</div>
	
	
</div>
</ion-content> </ion-view>
