<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!-- <div class="list card">
      <div class="item item-divider item-calm">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 54545</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-calm">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-calm">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
    <div class="list card">
      <div class="item item-divider item-calm">Menus</div>
      <div class="item item-body">
        <ion-item href="#/tab/skuCreateList">Create SKU</ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
