<ion-view view-title="SkuOrderDetail"> <ion-content
	class="padding">
<div class="list">
	<div class="item item-divider item-calm">Buyer Detail</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Name</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.buyer.name}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Phone Number:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.buyer.phone_number}}</span>
	</div>

	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>EmailID:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.hash_email}}</span>
	</div>
</div>
<div class="list">
	<div class="item item-divider item-calm">Order Detail</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Shipping Carrier:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.order_detail.request_shipping_carrier}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Service Level:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.order_detail.request_service_level}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Ship Date:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.order_detail.request_ship_by}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Delivery Date:</b></span><span
			class="col-sm-10 col-xs-12">{{skuOrderDetailProducts.data.order_detail.request_delivery_by}}</span>
	</div>
</div>

<div class="list" ng-repeat="orderListProduct in skuOrderDetailProducts.data.order_items">
	<div class="item item-divider item-calm">Order Items</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12" ><b>Merchant Sku:</b></span><span
			class="col-sm-10 col-xs-12">{{orderListProduct.merchant_sku}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Order Quantity:</b></span><span
			class="col-sm-10 col-xs-12">{{orderListProduct.request_order_quantity}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Order Cancel Quantity:</b></span><span
			class="col-sm-10 col-xs-12">{{orderListProduct.request_order_cancel_qty}}</span>
	</div>
	<div class="item item-body">
		<span class="col-sm-2 col-xs-12"><b>Base Price:</b></span><span
			class="col-sm-10 col-xs-12">{{orderListProduct.item_price.base_price}}</span>
	</div>
</div>
</ion-content> </ion-view>
