/* Empty. Add your own CSS if you like */
 input[type="text"] {
	border: 1px solid lightgray !important;
}
input[type="password"] {
	border: 1px solid lightgray !important;
}
 .head{
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
 }
 .input-label
 {
    font-family: "Times New Roman";
    color: #282828 ;
 }

 .item p {
    color: #080000 !important;
    font-size: 14px;
    
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}
.spacePadding{
	padding-top: 110px;
}


